{
  "zwaveJSAPIEndpoint": "ws://localhost:3000",
  "nodes": [
    {
      "id": 2,
      "description": "some thermostat",
      "schedule": [
        {"at": "06:00:00", "on": true},
        {"at": "06:20:00", "on": false},
      ]
    }
  ]
}
